
.title-icon{
    display: flex;
    margin-top: 2em;
    
}

.title-icon svg, .title-icon p{
    color: blue;
    font-size: 2em;
}

.weekBG{
    background-color: #282c30;
    border-radius: 10px;
}

.weekBtn{
    color: white;
}

.weekBtn:hover{
    color: green;
    transition: 0.7s;
}

#isStoreOpen a{
    text-decoration: none;
    color: red;
}

.btn-group{
    background-color: grey;
    padding: 2em;
    
}

.nextMovies i{
    color: green;
}

.moviesBG{
    background-color: #212528;
    color: white;
}


.moviePublicInfo{
    border-bottom: 1px grey solid;
}

.buyButton{
    border: 1px green solid;
    color: white;
}

.buyButton:hover{
    border: 1px green solid;
    color: white;
    opacity: calc(0.6);
    transition: 0.3s;
}